<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/dashboard/file-app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>

<div class="page">
  <div id="accordion-panel"></div>
</div>

<script type="text/javascript">
  window.file = {
    uuid: '<%= @file.uuid -%>',
    key: '<%= @file.key -%>'
  };
  document.getElementById('crumbs').remove();
</script>
